{% load static %}

<head>
</head>

<!DOCTYPE html>
<html>
  <form action="{% url 'index' %}" method="post">
    {% csrf_token %}
    <fieldset>
      <input type="text" id="new-todo" name="new-todo"/>
      <label for="new-todo">Insert new to-do</label>
    </fieldset>
    <button type="submit" />ADD</button>
  </form>

  <ul>
    {% for todo in todos_list %}
    <fieldset>
      <input type="checkbox" id="{{ todo.id }} " name="{{ todo.id }} value="{{
      todo.todo_label }}" />
      <label for="{{ todo.id }}">{{ todo.todo_label }}</label>
      <a href="{% url 'details' todo.id %}">details</a>
    </fieldset>
    {% endfor %}
  </ul>
</html>
