{% load static %} {% load compress %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}My Django App{% endblock %}</title>
    {% compress css %}
    <link
      rel="stylesheet"
      type="text/x-scss"
      href="{% static '/todos/index.scss' %}"
    />
    {% endcompress %}
  </head>
  <body>
    {% block content %}
    <!-- Child templates override this -->
    {% endblock %}
  </body>
</html>
